# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# ===========================
# Virtual Environment
# ===========================
venv/
.venv/
env/
ENV/

# ===========================
# Environment Variables
# ===========================
.env
.env.*

!.env.example

# ===========================
# Django
# ===========================
*.log
media/
staticfiles/


# ===========================
# IDE
# ===========================
.vscode/
.idea/
*.swp

# ===========================
# Operating System
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Pytest / Coverage
# ===========================
.pytest_cache/
.coverage
htmlcov/
.coverage.*

# ===========================
# Mypy
# ===========================
.mypy_cache/

# ===========================
# Docker
# ===========================
docker/mysql/data/