<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Smart Parking System{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
    <link rel="stylesheet" href="{% static 'css/verify_otp.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css" integrity="sha512-ApSLB1Pd3/bZN8fWB/RG9YhN/7bd9Hkf3AGaE2mPfebjrxagjuBtx2GcgdqIlJkUzwylBo61r9Xa9NmgBI0swA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block extra_css %}

    
    {% endblock%}
</head>

<body>

    <!-- ================= Navbar ================= -->
   <div class="container">
    {% if request.path != '/dashboard/' %}
     <nav class="navbar">
        <div class="logo">

            <a>
                <img src="{% static 'images/Logo.png' %}" alt="SmartPark Logo">
            </a>
        </div>
        {% if user.is_authenticated or request.path == '/dashboard/' %}
        <ul class="nav-links">
            <li><a href="{% url 'home-page' %}">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">How It Works</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        {% endif %}
    <div class="navbar-buttons">

    {% if user.is_authenticated %}

        <!-- =========================
             USER LOGGED IN
        ========================== -->

        <a href="{% url 'home-page' %}" class="nav-home">
            <i class="fa-solid fa-house"></i>
            Home
        </a>

        <a href="" class="nav-login">
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
        </a>


    {% elif request.path == '/login/' %}

        <!-- =========================
             LOGIN PAGE
        ========================== -->

        <a href="{% url 'home-page' %}" class="nav-home">
            <i class="fa-solid fa-house"></i>
            Home
        </a>

        <a href="{% url 'register-page' %}" class="nav-register">
            <i class="fa-solid fa-user-plus"></i>
            Register
        </a>


    {% elif request.path == '/register/' %}

        <!-- =========================
             REGISTER PAGE
        ========================== -->

        <a href="{% url 'home-page' %}" class="nav-home">
            <i class="fa-solid fa-house"></i>
            Home
        </a>

        <a href="{% url 'login-page' %}" class="nav-login">
            <i class="fa-solid fa-right-to-bracket"></i>
            Login
        </a>


    {% else %}

        <!-- =========================
             HOME PAGE / NOT LOGGED IN
        ========================== -->

        <a href="{% url 'login-page' %}" class="nav-login-home">
            <i class="fa-solid fa-right-to-bracket"></i>
            Login
        </a>

        <a href="{% url 'register-page' %}" class="nav-register">
            <i class="fa-solid fa-user-plus"></i>
            Register
        </a>

    {% endif %}
    {% endif %}

    </div>
    
    </nav>
    
   </div>

    <!-- ================= Main Content ================= -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- ================= Footer ================= -->
     {% if request.path != '/login/' and request.path != '/register/' and request.path != '/forgot-password/' and request.path != '/verify-otp/' and request.path != '/reset-password/' and request.path != '/dashboard/' %} 


    <footer class="parkx-footer">

    <div class="parkx-footer-container">

        <!-- =========================
             BRAND SECTION
        ========================== -->

        <div class="parkx-footer-section parkx-footer-brand">

            <img
                src="{% static 'images/Logo.png' %}"
                alt="ParkX Logo"
                class="parkx-footer-logo"
            >

            <p>
                Fully Automated Smart Parking System.
                Book, Park and Pay — Completely Automated.
            </p>

        </div>


        <!-- =========================
             QUICK LINKS
        ========================== -->

        <div class="parkx-footer-section">

            <h3>Quick Links</h3>

            <ul class="parkx-footer-links">

                <li>
                    <a href="{% url 'home-page' %}">
                        <i class="fa-solid fa-house"></i>
                        Home
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa-solid fa-star"></i>
                        Features
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa-solid fa-circle-info"></i>
                        How It Works
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa-solid fa-envelope"></i>
                        Contact
                    </a>
                </li>

            </ul>

        </div>


        <!-- =========================
             CONTACT
        ========================== -->

        <div class="parkx-footer-section">

            <h3 id="contact">Contact</h3>

            <div class="parkx-contact-item">

                <i class="fa-solid fa-envelope"></i>

                <span>
                    parkx2026@gmail.com
                </span>

            </div>

            <div class="parkx-contact-item">

                <i class="fa-solid fa-phone"></i>

                <span>
                    +91 9545509367
                </span>

            </div>

            <div class="parkx-contact-item">

                <i class="fa-solid fa-location-dot"></i>

                <span>
                    Pune, India
                </span>

            </div>

        </div>

    </div>


    <!-- =========================
         FOOTER BOTTOM
    ========================== -->

    <div class="parkx-footer-bottom">

        <p>
            © 2026 SmartPark. All Rights Reserved.
        </p>

        <p>
            Developed By
            <span>Digvijay & Ganesh</span>
        </p>

    </div>

</footer>
    {% endif %}

</body>

</html>