{% extends 'base.html' %}

{% load static %}

{% block title %}
    Forgot Password | ParkX
{% endblock %}


{% block extra_css %}

<link
    rel="stylesheet"
    href="{% static 'css/forgot_password.css' %}"
>

{% endblock %}


{% block content %}

<div class="forgot-password-page">

    <!-- Background Animation -->

    <div class="forgot-bg-circle forgot-circle-one"></div>

    <div class="forgot-bg-circle forgot-circle-two"></div>


    <!-- Forgot Password Card -->

    <div class="forgot-password-card">


        <!-- Icon -->

        <div class="forgot-icon">

            <i class="fa-solid fa-lock"></i>

        </div>


        <!-- Heading -->

        <h1>
            Forgot Password?
        </h1>


        <p class="forgot-description">

            Enter your registered email address and
            we'll send you a verification OTP.

        </p>


        <!-- Form -->

        <form
            method="POST"
            action=""
            class="forgot-password-form"
            autocomplete="off"
        >

            {% csrf_token %}


            <!-- Email -->

            <div class="forgot-input-group">

                <label for="email">
                    Registered Email
                </label>

                <div class="forgot-input-box">

                    <i class="fa-solid fa-envelope"></i>

                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="email@example.com"
                        autocomplete="off"
                        required
                    >

                </div>

            </div>


            <!-- Send OTP -->

             <button
                type="submit"
                class="forgot-send-btn"
                
            > 

              <!-- <a
    href="{% url 'verify-otp-page' %}"
    class="forgot-send-btn"
>
    <i class="fa-solid fa-paper-plane"></i>
    Send OTP
</a> -->

        
    <i class="fa-solid fa-paper-plane"></i>
    Send OTP

            </button>


        </form>


        <!-- Login -->

        <div class="forgot-login-link">

            <span>
                Remember your password?
            </span>

            <a href="{% url 'login-page' %}">
                Login
            </a>

        </div>


    </div>

</div>
<script src="{% static 'js/forgot_password.js' %}"></script>

{% endblock %}