{% extends "base.html" %}
{% load static %}

{% block title %}
    ParkX | Login
{% endblock %}
<!-- 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">  -->
<!-- {% endblock %} -->


{% block content %}

<div class="login-page">

    <!-- Background Animation -->
    <div class="login-bg">
        <div class="login-circle circle-one"></div>
        <div class="login-circle circle-two"></div>
    </div>


    <!-- Login Card -->
    <div class="login-card">

        <!-- Logo -->
        <div class="login-header">

            <!-- <img
                src="{% static 'images/logo.png' %}"
                alt="ParkX Logo"
                class="login-logo"
            > -->

            <h2>Welcome Back</h2>

            <p>
                Login to your ParkX account
            </p>

        </div>


        <!-- Login Form -->
        <form method="POST" action=""  id="loginForm">

            {% csrf_token %}


            <!-- Email -->
            <div class="login-input">

                <i class="fa-solid fa-envelope"></i>

                <input
                    type="email"
                    name="email"
                    placeholder="Email Address"
                    autocomplete="email"
                    required
                >

            </div>


            <!-- Password -->
            <div class="login-input">

                <i class="fa-solid fa-lock"></i>

                <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Password"
                    autocomplete="current-password"
                    required
                >

                <button
                    type="button"
                    class="password-toggle"
                    onclick="togglePassword()"
                >

                    <i
                        class="fa-solid fa-eye"
                        id="passwordIcon"
                    ></i>

                </button>

            </div>


            <!-- Forgot Password -->
            <div class="login-options">

                <a
                    href="#"
                    class="forgot-password"
                >
                    Forgot Password?
                </a>

            </div>


            <!-- Login Button -->
            <button
                type="submit"
                class="login-btn" id="loginBtn"
            >

                <i class="fa-solid fa-right-to-bracket"></i>

                Login

            </button>


        </form>


        <!-- Register -->
        <div class="register-text">

            <span>
                Don't have an account?
            </span>

            <a href="{% url 'register-page' %}">
                Register
            </a>

        </div>

    </div>

</div>


<script>

function togglePassword() {

    const password = document.getElementById("password");
    const icon = document.getElementById("passwordIcon");

    if (password.type === "password") {

        password.type = "text";

        icon.classList.remove("fa-eye");

        icon.classList.add("fa-eye-slash");

    } else {

        password.type = "password";

        icon.classList.remove("fa-eye-slash");

        icon.classList.add("fa-eye");

    }

}

</script>
<script src="{% static 'js/login.js' %}"></script>

{% endblock %}