{% extends 'base.html' %}

{% load static %}

{% block title %}
    Reset Password | ParkX
{% endblock %}


{% block extra_css %}

<!-- <link
    rel="stylesheet"
    href="{% static 'css/reset_password.css' %}"
> -->

{% endblock %}


{% block content %}

<div class="reset-password-page">

    <!-- Background Animation -->

    <div class="reset-bg-circle reset-circle-one"></div>

    <div class="reset-bg-circle reset-circle-two"></div>


    <!-- Reset Password Card -->

    <div class="reset-password-card">


        <!-- Icon -->

        <div class="reset-icon">

            <i class="fa-solid fa-lock"></i>

        </div>


        <!-- Heading -->

        <h1>
            Reset Password
        </h1>


        <p class="reset-description">
            Create a new password for your ParkX account.
        </p>


        <!-- Reset Form -->

        <form
            method="POST"
            action="{% url 'reset-password' %}"
            class="reset-password-form"
        >

            {% csrf_token %}


            <!-- New Password -->

            <div class="reset-input-group">

                <label for="password">
                    New Password
                </label>


                <div class="reset-input-box">

                    <i class="fa-solid fa-lock"></i>

                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Enter new password"
                        autocomplete="new-password"
                        required
                    >

                    <button
                        type="button"
                        class="reset-password-toggle"
                        onclick="togglePassword('password', 'passwordIcon')"
                    >

                        <i
                            class="fa-solid fa-eye"
                            id="passwordIcon"
                        ></i>

                    </button>

                </div>

            </div>


            <!-- Confirm Password -->

            <div class="reset-input-group">

                <label for="confirm_password">
                    Confirm Password
                </label>


                <div class="reset-input-box">

                    <i class="fa-solid fa-lock"></i>

                    <input
                        type="password"
                        id="confirm_password"
                        name="confirm_password"
                        placeholder="Confirm new password"
                        autocomplete="new-password"
                        required
                    >

                    <button
                        type="button"
                        class="reset-password-toggle"
                        onclick="togglePassword('confirm_password', 'confirmPasswordIcon')"
                    >

                        <i
                            class="fa-solid fa-eye"
                            id="confirmPasswordIcon"
                        ></i>

                    </button>

                </div>

            </div>


            <!-- Password Requirements -->

            <div class="password-info">

                <i class="fa-solid fa-circle-info"></i>

                <span>
                    Use at least 8 characters for your password.
                </span>

            </div>


            <!-- Reset Button -->

            <button
                type="submit"
                class="reset-password-btn"
            >

                <i class="fa-solid fa-key"></i>

                Reset Password

            </button>

        </form>


        <!-- Back to Login -->

        <div class="reset-login-link">

            Remember your password?

            <a href="{% url 'login-page' %}">
                Login
            </a>

        </div>


    </div>

</div>


<script>

function togglePassword(inputId, iconId) {

    const input =
        document.getElementById(inputId);

    const icon =
        document.getElementById(iconId);


    if (input.type === "password") {

        input.type = "text";

        icon.classList.remove("fa-eye");

        icon.classList.add("fa-eye-slash");

    } else {

        input.type = "password";

        icon.classList.remove("fa-eye-slash");

        icon.classList.add("fa-eye");

    }

}

</script>
<script src="{% static 'js/reset-password.js' %}"></script>
{% endblock %}